body {
    margin: 0;
    box-sizing: border-box;
    background-color: #313131;
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    height: 132px;
    width: 100%;
    background-color: #ffffff;
    opacity: 1;
    background: repeating-linear-gradient(129deg, #fffefefa, #f5f5f5 18.5px, #ffffff 11.5px, #ffffffed 52.5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #313131;
    font-size: 42px;
}

.left_Header {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo {
    height: 60%;
    margin-left: 142px;
    margin-right: 48px;
    cursor: pointer;
}

.right_Header {
    height: 100%;
    display: flex;
    align-items: center;
}

.miniLogo {
    height: 42%;
    margin-inline: 64px;
    cursor: pointer;
}

input {
    border: none;
    height: 35%;
    border: solid 2px rgb(255, 111, 11);
    border-radius: 18px;
    width: 272px;
}

::placeholder {
    font-size: 16px;
    padding-left: 10px;
}

input:focus {
    outline: none;
    font-size: 16px;
    padding-left: 16px;
}

.board {
    margin: 18px;
    width: 75%;
    border-radius: 12px;
    opacity: 1;
    background: repeating-linear-gradient(129deg, #fffefefa, #f5f5f5 18.5px, #ffffff 11.5px, #ffffffed 52.5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 18px;

}

.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 12px;
    margin: 18px;
    padding: 4px;
    font-size: 12px;
    color: #000000b0;
    cursor: pointer;
    -webkit-animation-duration: 2s;
    animation-duration: 1200ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

b {
    font-size: 18px;
    font-weight: 580;
    color: black;
    margin-left: 16px;
    margin-top: 18px;
}

b::first-letter {
    text-transform: capitalize;
}

.Card:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
}

@keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px)
    }

    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px)
    }
}


.img {
    width: 162px;
    height: 162px;
    margin-bottom: 8px;
    object-fit: cover;
    background-color: #f2f2f2;
    border-radius: 12px;
}

.types {
    display: flex;
    align-items: center;
    width: 100%;
    margin-block: 18px;
}

.type {
    background-color: #a4acaf;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 22px;
    border-radius: 6px;
    margin-left: 15px;
}

button {
    cursor: pointer;
    background-color: rgb(70, 200, 250);
    color: rgb(246, 246, 246);
    padding-inline: 18px;
    padding-block: 10px;
    border-radius: 6px;
    font-size: 18px;
    border: none;
}

button:hover {
    background-color: rgba(25, 160, 210)
}

.pokeBoard {
    width: 95.5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.SelectedWindow {
    width: 100%;
    position: relative;
    background-color: #0c0b0c54;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detailedCard {
    height: 92vh;
    width: 48%;
    background-color: rgba(243, 243, 243, 95%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 14px;
    padding: 24px;
}

.pok_big_img {
    width: 320px;
    height: 320px;
    margin-left: 18px;
}

.heading {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 38px;
    align-items: center;
}

.pokName::first-letter {
    text-transform: capitalize;
}

.pokemonMain {
    display: flex;
    align-items: flex-start;
}

.character {
    display: flex;
    flex-direction: column-reverse;
    height: 40%;
    justify-content: space-evenly;
    margin-top: 112px;
}

.stats {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: rgba(243, 243, 243, 95%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 18px;
}

.tab {
    background-color: #565353;
    color: white;
    padding-block: 4px;
    padding-inline: 12px;
    border-radius: 8px;
    cursor: pointer;
}

.navinfos {
    display: flex;
    height: 88%;
    width: 98%;
    justify-content: space-between;
    padding-inline: 5px;
    color: #32cdc4;
    font-size: 18px;
}

.navpre {
    width: 64px;
    height: 64px;
    transform: scaleX(-1);
    cursor: pointer;
    margin-top: 110px;
}

.navnxt {
    width: 64px;
    height: 64px;
    cursor: pointer;
    margin-top: 110px;
}

.showAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 28px;
}

progress {
    margin-left: 8px;
    --w: 200px;
    /* the width*/
    --color:
        /* the progress color */
        linear-gradient(90deg, #1ecd1e, #ff6161) 0/var(--w);
    --background: lightgrey;
    /* the background color */

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: var(--w);
    margin: 0 10px;
    border-radius: 10em;
    background: var(--background);
}

progress[value]::-webkit-progress-bar {
    border-radius: 10em;
    background: var(--background);
}

progress[value]::-webkit-progress-value {
    border-radius: 10em;
    background: var(--color);
}

progress[value]::-moz-progress-bar {
    border-radius: 10em;
    background: var(--color);
}

label {
    font-size: 10px;
    font-weight: bold;
    display: block;
    margin: 20px;
}

.information {
    width: 100%;
    height: 90%;
}

.evo_Poke {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.evolutionChain {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.evoutionImage {
    width: 90%;
    object-fit: contain;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    --b: 8px; 
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000 10%,#f03355) content-box;
    -mask:
      repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
      radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
            mask-composite: intersect;
    animation:l4 1s infinite steps(10);
  }
  @keyframes l4 {to{transform: rotate(1turn)}}