


.grass{
    background-color: #008000;
}

.grass2{
    background-color: #008000bf;
}

.poison{
    background-color: #b87fc8;
}

.poison2{
    background-color: #b87fc8bf;
}

.fire{
    background-color: #fc7d24;
}

.fire2{
    background-color: #fc7d24bf;
}

.water{
    background-color: #4591c3;
}

.water2{
    background-color: #4591c3bf;
}

.bug{
    background-color: #729f3f;
}

.bug2{
    background-color: #729f3fbf;
}

.flying{
    background-color: #3dc7ef;
}

.flying2{
    background-color: #3dc7efbf;
}

.electric{
    background-color: #edd435;
}

.electric2{
    background-color: #edd435bf;
}

.ground{
    background-color: #aa9842;
}

.ground2{
    background-color: #aa9842bf;
}

.fairy{
    background-color: #fdb9e9;
}

.fairy2{
    background-color: #fdb9e9bf;
}

.dragon{
    background-color: #f06e56;
}

.dragon2{
    background-color: #f06e56bf;
}

.spirit{
    background-color: #7a61a3;
}

.spirit2{
    background-color: #7a61a3bf;
}

.psychic{
    background-color: #f265b9;
}

.psychic2{
    background-color: #f265b9bf;
}

.steel{
    background-color: #9db7b7;
}

.steel2{
    background-color: #9db7b7bf;
}

.dark{
    background-color: #707070;
}

.dark2{
    background-color: #707070bf;
}

.fighting{
    background-color: #d56623;
}

.fighting2{
    background-color: #d56623bf;
}

.ice{
    background-color: #51c4e7;
}

.ice2{
    background-color: #51c4e7bf;
}

.rock{
    background-color: #a28c1f;
}

.rock2{
    background-color: #a28c1fbf;
}

.ghost{
    background-color: #7b61a3;
}

.ghost2{
    background-color: #7b61a3bf;
}

.normal2{
    background-color: #a4acafbf;
}
